<p><%= p "Welcome #{@user.first_name}"%></p>
<a class='menu' href="/jobs_list">Find a Project</a>
<a class='menu' href="/request/new">New Request</a>
<a class='menu' href="/request">Check Current Request</a>
<a class='menu' href="/develop">Check Current Project</a>
