<div class="menu-group">
  <a class='main' href="/jobs_list">Find a Project</a>
  <a class='main' href="/request/new">New Request</a>
  <a class='main' href="/request">Check Current Request</a>
  <a class='main' href="/develop">Check Current Project</a>
</div>
