<!doctype html>
<html lang="en">
<head>
  <title>Busy Bee</title>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
    <% if logged_in? %>
    <div class="header">
      <h1>BUSY BEE</h1>
      <h2>Hello, <%= current_user.first_name %></h2>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
      </form>
    </div>
    <% end %>

  <%= yield %>

</body>
