<!doctype html>
<html lang="en">
<head>
  <title>Busy Bee</title>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>BUSY BEE</h1>
    </div>
    <% if logged_in? %>
      logged in as <%= current_user.email %>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>logout</button>
      </form>
    <% end %>

  <%= yield %>

</body>
