<form action="/request/new" method="post">
  <label>Job Title</label>
  <input type="text" name="job_title">

  <label>Reward</label>
  <input type="text" name="reward">

  <label>Description</label>
  <textarea name="description" rows="8" cols="20"></textarea>

  <label>Platform</label>
  <input type="text" name="platform">

  <label>Due Date</label>
  <input type="text" name="due_date">

  <button>Post</button>
</form>
<a class="menu" href="/request">Cancel</a>
