<div class="menu-group">
  <form action="/develop/<%= @project.job_id %>/submit" method="post">
    <h3>Recipient</h3>
    <span><%= @project.requester.user.first_name %> <%= @project.requester.user.last_name %></span>
    <h3>Subject</h3>
    <span><%= @project.job_title %></span>
    <h3>Message</h3>
    <textarea name="message" rows="8" cols="20"></textarea>
    <h3>Attachments</h3>
    <input type="file" name="attachment">
    <button>Submit</button>
  </form>
  <a class ='menu' href="/develop">Cancel</a>
</div>
