<form action="/develop/<%= @project.job_id %>/submit" method="post">
  <label><%= p "Recipient: #{@project.requester.user.first_name} #{@project.requester.user.last_name}" %></label>
  <label><%= p "Subject: #{@project.job_title}"%></label>
  <label>Message</label>
  <textarea name="message" rows="8" cols="80"></textarea>
  <button>Submit</button>
  <a class ='menu' href="/develop">Cancel</a>
</form>
