*{
  font-family: Arial;
  text-align: center;
  margin: 10px;
}

body {
  display: block;
  background-color: white;
}

input {
  display: block;
  margin: 10px auto;
}

button {
  display: block;
  margin: 10px auto;
  font-size: 1em;
  max-width: 200px;
  width: 200px;
  border-radius: 2em;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
}

a {
  text-decoration: none;
  display: block;
}

span {
  display: block;
}

label {
  display: block;
}

textarea {
  display: block;
  margin: 10px auto;
}

.header {
  text-shadow: 3px 3px 4px #000000;
  font-size: 2em;
  color: yellow;
  font-family: 'Pacifico', cursive;
}

.login{
  border: 5px solid white;
  background-color: cornflowerblue;
  width: 40%;
  margin: 20px auto;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.menu {
  border: 2px solid black;
  border-radius: 2em;
  padding: 10px;
  display: block;
  width: 180px;
  max-width: 180px;
  margin: 10px auto;
  color: black;
}

.list {
  border: 1px solid black;
  border-radius: 1em;
  width: 250px;
}
