<form action="/request" method="post">
  <label>Job Title</label>
  <input type="text" name="job_title">

  <label>Reward</label>
  <input type="text" name="reward">

  <label>Description</label>
  <input type="text" name="description">

  <label>Platform</label>
  <input type="text" name="platform">

  <label>Post Date</label>
  <input type="text" name="post_date">

  <label>Due Date</label>
  <input type="text" name="due_date">

  <button>Post</button>
  <button action="/request" method="get">Cancel</button>
</form>
