<form action="/user/new" method="post">
  <label>first_name</label>
  <input type="text" name="first_name">

  <label>last_name</label>
  <input type="text" name="last_name">

  <label>Address</label>
  <input type="text" name="address">

  <label>Suburb</label>
  <input type="text" name="suburb">

  <label>Postcode</label>
  <input type="text" name="postcode">

  <label>Country</label>
  <input type="text" name="country">

  <label>E-mail Address</label>
  <input type="text" name="email">

  <label>Contact Person</label>
  <input type="text" name="contact_person">

  <label>Paypal Account</label>
  <input type="text" name="paypal_account">

  <label>ABN</label>
  <input type="text" name="abn">

  <label>TFN</label>
  <input type="text" name="tfn">

  <label>Password</label>
  <input type="password" name="password">

  <button>Register</button>
  <button action="/user/new" method="get">Cancel</button>
</form>
