<form action="/develop/<%= @project.job_id %>" method="post">
  <input type="hidden" name="_method" value="submit">

  <label><%= p "Recipient: #{@project.requester.user.first_name} #{@project.requester.user.last_name}" %></label>
  <label><%= p "Subject: #{@project.project_title}"%></label>
  <label>Message</label>
  <textarea name="name" rows="8" cols="80"></textarea>
  <button>Submit</button>
  <a href="/">Cancel</a>
</form>
